body {
    margin: 0px;
    padding: 0px;
    color: white;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0,0, 0.7)), url(./45.jpg);
    background-position: center;
    background-size: cover;
    font-family: sans-serif;
}

.logo-img{
    filter: invert(100);
}


.container {
    padding: 20px 100px;
    height: 100vh;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-items{
    display: flex;
    list-style: none;
}

a{
    text-decoration: none;
    color: white;
    margin: 20px;
}

.content{
    height: calc(100%-100px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.heading{
    font-size: 70px;
}

.paragraph{
    text-align: center;
    font-size: 20px;
}

.button{
    width: 120px;
    padding: 10px;
    border: 1px solid white;
    color: white;
    background-color: transparent;
    border-radius: 30px;
    cursor: pointer;
}

.button:hover{
    color: black;
    background-color: white;
    border-color: black;
}


